*.pyc
*.pyo
*.pdb
*.log
*.json
*.code-workspace
*.swp
*.lock
*.bson
*.ns
*.0
*.wt
*.interim
*.0000000001
*metrics.2019-02-03T23-53-12Z-00000
*.turtle
*WiredTiger
*WiredTigerLog
*.0000000002
*lib/astron/mongodb/database/diagnostic.data/*
*.mdmp
ftp.login
lib/astron/mongodb/database/journal/*

user/
resources/
build/makefile/built/
build/makefile/sample_built/
lib/astron/databases/
lib/rpl/
data/
.vscode/
.vs/
